ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}
.photo {
    max-width: 100%;
    list-style: none;
    margin: 80px;

}

.photo img {

    /* display: block;
    max-width: 200px;
    max-height: 150px;
    width: 120px;
    height: 120px; */
}

.wrapper #menuItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 50px;
}
.button {
    background-color: coral;
    padding: 1em 2em;
    color: white;
    border: 0;
    position: absolute;
    bottom: 670px;
    left: 675px;
}
.button:hover {
    background: black;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.modalContent {
    background-color: #F4F4F4;
    margin: 20% auto;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    animation-name: modalopen;
    animation-duration: 1s;
}
.modal_header h3 .modalFooter h3{
    margin: 0;
}
.modalHeader {
    background: coral;
    padding: 2px;
    color: #fff;
    text-align: center;
}
.modalBody {
    padding: 10px 20px;
}
.modalBody p {
    text-align: center;
}
.modalFooter {
    background: coral;
    padding: 2px;
    color: white;
    text-align: center;
}
.closeButton {
    color: #ccc;
    float: right;
    font-size: 25px;
    color: white;
}
.closeButton:hover, .closeButton:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from{opacity: 0}
    to {opacity: 1}
}

.topMenu {
    float: right; 
    padding-top: 5px; 
}

li {
    display: inline-block;
    padding-right: 10px;
    margin-bottom: 10px;
    height: 10px;
    font-size: 18px;
    /* border: white 1px solid; */
}