<<<<<<< HEAD
html {
    font-size: 14px;
    color: white;
    /* background-color: yellow; */
    background-image: ;
}

body {
    /* background-color: black; */
    background-image: url("/images/abstr.jpg");
}

div {
    /* border: dashed black 1px; */
}

main {
height: 100%;
width: 90%;
margin: auto;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 6fr 1fr 2fr;

}

.menuBox {
}

#logoTop {
    height: 80px;
    width: 80px;
    /* border: white 1px solid; */
}

ul {
      float: right; 
      padding-top: 5px; 
}

li {
    display: inline-block;
    padding-right: 10px;
    margin-bottom: 10px;
    height: 10px;
    font-size: 18px;
    /* border: white 1px solid; */
}
.heroBox {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 60vh;

}

#smallHero {
    margin: auto;
}

#smallHeroHeader {

    font-size: 102px;
   
}

#smallHeroP {
    font-family: Courier New;
    font-size: 32px;
}

#bigHero {
    text-align: center;
    margin: auto;    
}

#bigHeroHeader {
    font-size: 40px;
    color: white;
    background-color: purple;
    padding: 3px 32px 3px 32px;
    border-radius: 15px;
}

#bigHeroHeader2 {
    font-size: 40px;
    color: white;
    background-color: purple;
    padding: 2px 60px 2px 60px;
    border-radius: 15px;
}

#bigHeroHeader3 {
    font-size: 40px;
    color: white;
    background-color: purple;
    padding: 2px 43px 2px 43px;
    border-radius: 15px;
}

#workoutSelector {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 20rem;
    height: 3rem;
    background-color: white;
    font-size: 24px;
    color: grey;
}

.restSelector {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 20rem;
    height: 3rem;
    background-color: white;
    font-size: 24px;
    border-radius: 5px;
}

#weightInput {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 20rem;
    height: 3rem;
    font-size: 24px;   
    text-align: center; 
}

.selectionBox {

}

.footerbox {

}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {

    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    height: 30%;
  }

  #logoButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 50px;
    /* border: 1px black dashed; */

  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.logos {
    width: 100px;
    height: 100px;
    border: solid purple 3px;
    border-radius: 4px;
} 

.logos:hover {

}

/* ul {
    border: black 4px solid;
    height: 55px;
    width: auto;
    float: right;

}



=======

html {
    font-size: 24px;
    color: white;
    
}

h1 {
    background-color: black;
    border-radius: 8px;
}

h5 {
    background-color: black;
    border-radius: 8px;
    padding: 2px;
}
#mainBox {
    position: relative;
    text-align: center;
    top: 30%;
    left: 30%;
    width: 500px;
    height: 600px;
    border: black 2px solid;
    border-radius: 8px;
    padding: 10px;
}

#logos {
    width: 100px;
    height: 90px;
    /* position: relative; */
    display: inline-block;
    align-items: center;
    justify-content: center;
    /* padding: 8px; */
    border: white 3px solid;
    border-radius: 5px;
    padding: 3px;
}

#weightInput {
    width: 300px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    padding: 2px;
    border: blue 1px solid;
    border-radius: 5px;
}

#imgBg {
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}
h1 {
    position: relative;

    /* margin-left: 50px; */
    font-size: 34px; }


#checkBoxes {
    align-items: center;
    justify-content: center;
}

.checkBox {
    background-color: blue;
    border: solid black 3px;
}
>>>>>>> ca79ee0432901a0bf66a3998edf77cc9e6202384
